

img {
    max-width: 412px; /* Limite la largeur de l'image */
    height: auto; /* Maintient le ratio */
  }
  
  button {
    width: 150px; /* Largeur uniforme pour les boutons */
    height: 40px;
    margin-left: 40px;
    color: black;
    border: 1px solid black;

  }
  