/* quiz.component.css */



.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;      /* centre horizontalement */
  justify-content: center;  /* centre verticalement */
  margin-top:100px ;
}
/* Contenu principal */
.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px; /* Ajout d'un padding pour espacer le contenu des bords */
}
