<header>
  <nav >
    <div  >
      <!-- Logo à gauche -->
      <div class="logo">
        <a routerLink="/">
          <img src="assets/logo_p6.png" alt="Logo MDD" width="150" />
        </a>
      </div>

      <!-- Bouton menu pour écrans mobiles -->
      <button
      
      >
        <span  ></span>
      </button>

      <!-- Menu à droite (affiché uniquement si showRightMenu est vrai) -->
      <div *ngIf="showRightMenu"  id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/post/list">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/subscription/topics">Thèmes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/profile">
              <img src="assets/user-picto.png" alt="User" width="40" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr class="header-divider" />
</header>
