.header-divider {
    border: none; /* Supprime les styles par défaut */
    height: 2px; /* Épaisseur de la ligne */
    background-color: #747485; /* Couleur de la ligne */
    margin: 0; /* Supprime les marges par défaut */
    width: 100%; /* S'étend sur toute la largeur */
  }

  .right-menu{
    float: right;
  }
  .logo img {
    max-width: 150px;
  }