<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Logo à gauche -->
      <div class="logo">
        <a routerLink="/">
          <img src="assets/logo_p6.png" alt="Logo MDD" width="150" />
        </a>
      </div>

        <!-- Bouton menu pour écrans mobiles -->
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Menu à droite -->
      <div *ngIf="showRightMenu" class="collapse navbar-collapse right-menu" id="navbarNav">
        <ul class="navbar-nav d-flex flex-row align-items-center">
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/post/list">Articles</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/subscription/topics">Thèmes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/profile">
              <img src="assets/user-picto.png" alt="User" width="40" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr class="header-divider" />
</header>
