<div class="form-container">
  <h2>Profil utilisateur</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Sauvegarder</button>
    <button mat-button class="logout-button" (click)="logout()">Se déconnecter</button>
  </div>
  </form>
</div>
    <div class="subscribed-topics-container">
  
    <hr class="divider" />
    <h2 class="text-center">Abonnements</h2>
   
    <app-topics [showSubscribedOnly]="true"></app-topics>

   </div>  