/* styles.scss */
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides((container-background-color: white,
    ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

h1 {
  margin: 0 !important;
}

.error {
  color: red;
}



/* chaîne Angular Material */
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  flex: 1;
  height: 100%;
}

mat-sidenav-content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ton conteneur principal de quiz */
.quiz-container {
  flex: 1;
  /* occupe tout l’espace */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* horizontal */
  justify-content: center;
  /* vertical */
  text-align: center;
}

.mat-mdc-card {
  background-color: #ce4141;
  border-radius: 12px;
}