.container {
  background-color: #ffffff; /* Pas de couleur de fond pour le formulaire */
}






.text-danger {
  font-size: 12px;
}
.custom-button {
  width: 139px;
  height: 40px;
  font-weight: bold;
  background-color: white; color: black;border-color: #000;
  font-size: 14px; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  border: 1px solid #000; 
  border-radius: 8px; /* Coins arrondis */
  display: block; /* Permet de centrer */
  margin: 0 auto; /* Centre horizontalement */
  cursor: pointer;
}
.back-arrow {
  font-size: 1.5rem; /* Taille de la flèche */
  border: none;
  background: none;
  color: #000; /* Couleur noire */
  position: absolute;
  left: 0; /* Positionner à gauche */
  margin-left: 10px; /* Petit retrait */
  cursor: pointer;
}

.back-arrow i {
  font-size: 2rem; /* Agrandit l'icône de la flèche */
  line-height: 1;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0; /* Supprime les marges */
}
