/* You can add global styles to this file, and also import other style files */

  
  .button-container {
    display: flex;
    justify-content: center; /* Centrage horizontal */
  }
  button {
    width: 167px;
    height: 36px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #7763C5;
    color: white;
   }
  
  .unsubscribe-button {
    background-color: #7A7A7A; /* Couleur grise pour désabonnement */
  }
